# Ignore object files and binaries
*.o
*.out
*.exe
*.a
*.so
*.dylib

# Ignore editor/IDE temp files
*~
*.swp
*.swo
.DS_Store
.vscode/
.idea/
*.log

# Ignore core dumps
core
core.*

# Ignore compiled server / client binaries. 
output_server
output_client

# Ignore test artifacts or logs
*.test
*.dump
*.trace
logs/*
!logs/.gitkeep

# Ignore project documentation. 
*.pdf
*.doc
*.docx
*.ppt
*.xlsx
*.zip

# Don't include anything in documents folder. 
docs/*
!docs/.gitkeep
nul
